
@{
  Layout = "_Layout";
}
@using HouseWhisperHomework.Models
@model IndexData

<div class="text-center">
  <h1 class="display-4">Welcome to my House Wisper homework!</h1>
  <p>There are currently @this.Model.CountOfEvents events on the calendar.</p>
</div>
